<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Языки русского литературоведения</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Меню</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://literaryresearch.pythonanywhere.com/">Начальная страница<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://literaryresearch.pythonanywhere.com/research">Исследование</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Содержание</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#history_of_project">История проекта</a>
              <a class="dropdown-item" href="#book_search">О сборе книг</a>
              <a class="dropdown-item" href="#issue_search">О сборе статей</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-image: url('static/img/books.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
          <h1 class="display-3 text-white">ЯРЛ</h1>
          <p class="text-white">Вы находитесь на странице проекта "Языки русского литературоведения", посвященной истории проекта и подготовке и сбору материала для него</p>
          <p><a class="btn btn-warning btn-lg text-white" href="#" role="button">Перейти к корпусу</a></p>
        </div>
      </div>
<div id="page-content-wrapper">
            <div class="container-fluid">
<h1>Материалы и источники проекта "Языки русского литературоведения"</h1>
<p>Вы находитесь на странице сайта с описанием того, как собирались материалы и источники для проекта. Что они из себя представляют, как они отбирались и обрабатывались</p>
<p>Описание того,как был организован поиск источников, с одной стороны, необходимо для оценки репрезентативности корпуса, а с другой - может стать подспорьем для исследователя, задумавшего типологически схожий проект на другом материале</p>


<div id="history_of_project">
<h2>История проекта</h2>
<p>Идея проекта была предложена доцентом Школы лингвистики НИУ ВШЭ Б. В. Ореховым в рамках проектного семинара магиестерской программы "Цифровые методы в гуманитарных науках". Идея состояла в том, чтобы проследить как стиль и языковые особенности литературоведов, пишуших на русском языке, зависит от их области научных интересов, географической принадлежности и других факторов</p>
<p>Проект реализовывался группой студентов упомянутой программы ВШЭ. С самого начала материалы проекта были разделены на два подкорпуса</p>
<p><b>Подкорпуса</b></p>
<ul>
<li>Подкорпус книг 1950 - 1990 гг. </li>
<li>Подкорпус статей из электронной библиотеки "Киберленинка"</li>
</ul>
<p><b>Участники проекта и роли в команде</b></p>
<ul>
<li>Екатерина Волженина</li>
<li>Макар Федоров</li>
<li>Елизавета Филиппских</li>

</div>

<div id="book_search">
<h2>Сбор источников для подкорпуса книг</h2>
<p>Сбор источников для этого подкорпуса обладал своей спецификой. Отсутствие единого электронного ресурса, на котором были бы собраны интересующие нас книги, привело к сборке книг в ручном режиме. Для организации поиска мы, с одной стороны, использовали использовали библиографический список из "Истории всемирной литературы", а также список литературоведческих терминов, собранных нами из учебников по литературоведению</p>
<p>Наряду со сбором файлов с книгами мы вручную заполняли таблицу с метаданными. Метаданные включали в себя название работы, фамилию и инициалы автора, год и место издания. Все поля таблицы, кроме двух, заполнялись из информации, присутствующей в книгах. Два поля - домен и расширение домена мы заполняли самостоятельно, присваивая значения в соотвествиии с областью изучения монографии. Б. В. Орехов предложил назначать домен в соответствии с тематическим разделением курсов по литературоведению в университетах /p>
</div>
<div id="issue_search">
<h2>Сбор источников для подкорпуса статей</h2>
<p>Сбор статей получилось автоматизировать, поскольку все интересующие нас статьи лежали в базе электронной библиотеки "Киберленинки" и были доступны для скачивания. Так как сбор метаданных также производился автоматически, домен и его расширение мы не выделяли. С учетом количества статей, выгруженных из библиотеки (первоначальное их число составляло более 27 000) это было бы непосильной для нас задачей/p>
</div>


    </main>

    <footer class="container">
      <p>Digital Humanities, HSE, 2020-2022</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
