<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Языки русского литературоведения</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Меню</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://literaryresearch.pythonanywhere.com/materials">Материалы<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://literaryresearch.pythonanywhere.com/">Начальная страница</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Содержание</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#part_1">Раздел 1</a>
              <a class="dropdown-item" href="#part_2">Раздел 2</a>
              <a class="dropdown-item" href="#part_3">Заключение</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-image: url('static/img/books.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
          <h1 class="display-3 text-white">ЯРЛ</h1>
          <p class="text-white">Вы находитесь на странице с исследованием русскоязычных работ по литературоведению, выполненным в рамках проекта "Языки русского литературоведения"

</p>
          <p><a class="btn btn-warning btn-lg text-white" href="#" role="button">Перейти к корпусу</a></p>
        </div>
      </div>
<div id="page-content-wrapper">
            <div class="container-fluid">
<h1>От чего зависит стиль академических работ по литературоведению?</h1>
<p>Вы находитесь на странице сайта проекта "Языки русского литературоведения", посвященно исследованию стилистики и языковых особенностей литературоведческих работ</p>
<p>Исследование предназначено как для профессиональных филологов и литературоведов, интересующихся развитием литературоведческой мысли в России, так и для широкого круга читателей, интересующихся исследованиями в области цифровых гуманитарных наук</p>


<div id="part_1">
<h2>Введение</h2>
<p>Исследовательский вопрос, который мы пытаемся решить, состоит в том, зависит ли стилистические особенности работ по литературоведению от области в которой литературоведы работают</p>
<p>Исследование проведенео на материале корпуса работ русскоязычных литературоведческих работ, собранных в рамках проекта "Языки русского литературоведения"</p>
</div>

<div id="part_2">
<h2>Векторные модели для литературоведческих терминов</h2>
<p>ТУТ У НАС БУДЕТ ТЕКСТ ПРО ИССЛЕДОВАНИЕ С КАРТИНКАМИ</p>
</div>
<div id="part_3">
<h2>Заключение</h2>
<p>На наших материалах мы пришли к следующим выводам</p>
<p><b>Выводы относительно монографий</b></p>
<ul>
<li>Во-первых</li>
<li>Во-вторых</li>
</ul>
<p><b>Выводы относительно статей</b></p>
<ul>
<li>Во-первых</li>
<li>во-вторых</li>
</ul>
</div>


    </main>

    <footer class="container">
      <p>Digital Humanities, HSE, 2020-2022</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
